.wrapper {
  display: flex;
  width: 100%;
  flex:1;
}

.live--wrapper {
  flex: 1;
  height: auto;
  border-radius: 20px;
}

.chat {
  margin-left: 48px;
  position: relative;
  height: 100%;
}

.btn-collapse--wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
  transform: translate(-100%, -50%);
  display: flex;
  margin-left: 40px;
  align-items: center;
}

.button-collapse {
  padding: 10px 0 12px 2px;
  background-color: rgba(96, 97, 105, 0.61);
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
  transform: translate(-100%, -50%);
  border-top-left-radius: 6px 6px;
  border-bottom-left-radius: 6px 6px;
}

.collapse-icon {
  color: rgb(192, 192, 192);
  font-size: 2.6rem;
}

.chat--wrapper {
  height: 100%;
  background-color: var(--chat-color);
  width: 400px;
  border-radius: 20px;
  padding: 4px 8px;
  overflow: hidden;
  transform: scale(1);
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  margin-left: 16px;
  padding-right: 16px;
  margin-right: -8px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
}

.title {
  color: var(--title-color);
  font-size: 2rem;
  font-weight: 400;
}

.user {
  display: flex;
}

.user-icon {
  color: var(--primary-item);
  font-size: 2.4rem;
}

.user-count {
  color: var(--text-color);
  margin-left: 8px;
  margin-right: 8px;
  font-size: 1.4rem;
  font-weight: 600;
}

.chat-container {
  margin: 0px 16px;
  max-height: 70vh;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.input-chat--wrapper {
  display: flex;
  border-radius: 16px;
  padding: 8px 6px;
  background-color: rgba(44, 49, 63, 255);
  align-items: center;
  margin-bottom: 6px;
}

.tool {
  display: flex;
  align-items: center;
  background: var(--icon);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
}

.dots {
  color: var(--chat-color);
  font-size: 1.8rem;
}

.input-chat {
  flex: 1;
  background-color: transparent;
  outline: none;
  border: none;
  height: 24px;
  margin: 0 6px;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 600;
}

.send-button {
  display: flex;
  align-items: center;
  background: var(--icon);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  justify-content: center;
  background-color: var(--purple-color);
  cursor: pointer;
}

.send-icon {
  color: #fff;
}
