.header {
  display: flex;
  height: 40px;
  background-color: var(--primary);
  margin: 30px 40px;
  justify-content: space-between;
  align-items: center;
}

.search-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: var(--primary-background);
  padding: 0 12px;
}

.search-input {
  background-color: rgba(53, 51, 64, 255);
  outline: none;
  border-radius: 10px;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  flex: 1;
  color: var(--primary-item);
  height: 40px;
}

.search-icon {
  color: rgba(89, 87, 100, 255);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}
.right-side {
  color: var(--font-color);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex: 2;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-name {
  margin: 0 8px;
  letter-spacing: 0.6px;
}

.avatar-img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 4px;
}

.notification {
  font-size: 2.4rem;
  color: var(--icon);
  margin-left: 24px;
  position: relative;
}

.notification::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #db606a;
  top: 2px;
  right: 2px;
}

.arrow-down {
  font-size: 2.4rem;
  color: rgba(89, 87, 100, 255);
  font-weight: 700;
}
