@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&family=Lato&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #1f1d2b;
  --line-color: #2a2836;
  --icon: #7c8695;
  --chat-color:rgba(37,41,54,255);
  --font-color: #c8c7ce;
  --primary-background: rgba(53, 51, 64, 255);
  --primary-item: #82818f;
  --active-color: #33ade9;
  --purple-color: #6a5cce;
  --title-color:#efeef0;
  --text-color:#565a68;
  --check-color:#2a8cc8;
  --online-color:#2caa82;
  --offline-color:#f67f62;
  --scrollbar-color:#3c3f4e;
  --scrollbar-hover:#3c3f4ed5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  overflow: hidden;
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}