@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&family=Lato&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary: #1f1d2b;
  --line-color: #2a2836;
  --icon: #7c8695;
  --font-color: #c8c7ce;
  --primary-background: rgba(53, 51, 64, 255);
  --primary-item: #82818f;
  --active-color: #33ade9;
  --purple-color: #6a5cce;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  overflow: hidden;
}
