.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
}

.image--wrapper {
  position: relative;
  margin-right: 12px;
}
.image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
}
.check-icon {
  background: #fff;
  border-radius: 50%;
  color: var(--check-color);
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.2rem;
}
.text--wrapper {
    margin-left: 8px;
}
.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.user-name {
  margin-right: 4px;
  font-size: 1.5rem;
  color: var(--font-color);
}
.online {
  color: var(--online-color);
}
.offline {
  color: var(--offline-color);
}
.user-message {
  color: var(--text-color);
  font-size: 1.4rem;
  width: 100%;
  display: block;
}
